.container {
  background: linear-gradient(90deg, #584cde, #944cde);
  color: white;
  font-family: 'Lora', serif;
}

.footer {
  min-height: 10vh;
  display: flex;
  flex: 1;
  margin: 0 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
