.container {
  background: linear-gradient(90deg, #584cde, #944cde);
  color: white;
  font-family: 'Lora', serif;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.infotext {
  font-weight: 400;
  text-align: center;
}

.footer {
  min-height: 10vh;
  display: flex;
  flex: 1;
  margin: 0 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
